<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="win.scolia.cloud.sso.dao.RoleMapper">

    <select id="selectUserRolesByUserName" resultType="string">
        SELECT role_name
        FROM role
            JOIN user_role
                ON role.role_id = user_role.role_id
            JOIN user
                ON user_role.user_id = user.user_id
        WHERE user.user_name = #{userName}
    </select>

    <resultMap id="roleMap" type="win.scolia.cloud.sso.bean.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modified" property="lastModified"/>
    </resultMap>

</mapper>

