<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="win.scolia.cloud.sso.dao.UserMapper">

    <resultMap id="userSafelyMap" type="win.scolia.cloud.sso.bean.entity.UserSafely">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modified" property="lastModified"/>
    </resultMap>

    <select id="selectAllUserSafely" resultMap="userSafelyMap">
        SELECT
            user_id,
            user_name,
            create_time,
            last_modified
        FROM user
    </select>
</mapper>