<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="win.scolia.sso.dao.RoleMapper">

    <insert id="insertRole">
        INSERT INTO role (role_name, create_time, last_modified)
        VALUES (#{roleName}, #{createTime}, #{lastModified})
    </insert>

    <insert id="insertUserRoleMap">
        INSERT INTO user_role(user_id, role_id, create_time, last_modified)
        VALUES (#{userId}, #{roleId}, #{createTime}, #{lastModified})
    </insert>

    <delete id="deleteRoleByName">
        DELETE FROM role
        WHERE role_name = #{roleName}
    </delete>

    <delete id="deleteUserRoleMapByRoleId">
        DELETE FROM user_role
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteUserRoleMapByUserId">
        DELETE FROM user_role
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteUserRoleMapByUserIdAndRoleId">
        DELETE FROM user_role
        WHERE user_id = #{userId} AND role_id = #{roleId}
    </delete>

    <update id="updateRoleByName">
        UPDATE role
        SET role_name = #{role.roleName}, last_modified = #{role.lastModified}
        WHERE role_name = #{oldRoleName}
    </update>

    <select id="selectUserRolesByUserName">
        SELECT role_name
        FROM role
            JOIN user_role
                ON role.role_id = user_role.role_id
            JOIN user
                ON user_role.user_id = user.user_id
        WHERE user.user_name = #{userName}
    </select>

    <resultMap id="roleMap" type="win.scolia.sso.bean.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modified" property="lastModified"/>
    </resultMap>

    <select id="selectRoleByRoleName" resultMap="roleMap">
        SELECT
            role_id,
            role_name,
            create_time,
            last_modified
        FROM role
        WHERE role_name = #{roleName}
    </select>

    <select id="selectAllRoles" resultMap="roleMap">
        SELECT
            role_id,
            role_name,
            create_time,
            last_modified
        FROM role
    </select>
</mapper>

