<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="win.scolia.sso.dao.UserMapper">

    <insert id="insertUser" parameterType="win.scolia.sso.bean.entity.User">
        INSERT INTO user (user_name, password, salt, create_time, last_modified)
        VALUES (#{userName}, #{password}, #{salt}, #{createTime}, #{lastModified})
    </insert>

    <delete id="deleteUserByUserName">
        DELETE FROM user WHERE user_name = #{userName}
    </delete>

    <update id="updatePasswordByUserName">
        UPDATE user SET password = #{password}, last_modified = #{lastModified} WHERE user_name = #{userName}
    </update>

    <resultMap id="userSafelyMap" type="win.scolia.sso.bean.entity.UserSafely">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modified" property="lastModified"/>
    </resultMap>

    <resultMap id="userMap" type="win.scolia.sso.bean.entity.User" extends="userSafelyMap">
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
    </resultMap>

    <select id="selectUserByUserName" resultMap="userMap">
        SELECT
            user_id,
            user_name,
            password,
            salt,
            create_time,
            last_modified
        FROM user
        WHERE user_name = #{userName}
    </select>

    <select id="selectAllUserSafely" resultMap="userSafelyMap">
        SELECT
            user_id,
            user_name,
            create_time,
            last_modified
        FROM user
    </select>
</mapper>