<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="win.scolia.sso.mapper.AccountMapper">

    <insert id="insertUser" parameterType="win.scolia.sso.api.pojo.User"
            useGeneratedKeys="true" keyColumn="u_id"
            keyProperty="user.uId">
        INSERT INTO users (username, password, salt, create_time)
        VALUES (#{user.username}, #{user.password}, #{user.salt}, NOW())
    </insert>

    <select id="selectPasswordAndSaltByUsername" parameterType="string"
            resultType="win.scolia.sso.api.pojo.User">
        SELECT
            username,
            password,
            salt
        FROM users
        WHERE username = #{username}
    </select>

    <select id="selectRolesByUserName" parameterType="string" resultType="string">
        SELECT role_name
        FROM roles
            JOIN user_roles
                ON roles.role_id = user_roles.role_id
            JOIN users
                ON user_roles.user_id = users.u_id
        WHERE users.username = #{username}
    </select>

    <select id="selectPermissionsByRoleName" parameterType="string" resultType="string">
        SELECT permission_name
        FROM permissions
            JOIN role_permissions
                ON permissions.permission_id =
                   role_permissions.permission_id
            JOIN roles
                ON role_permissions.role_id = roles.role_id
        WHERE roles.role_name = #{roleName}
    </select>

</mapper>